{% extends "base.html" %}
{% block content %}

        <div id="container">

            <div class="title">
                <h1>Decrypt text using existing Key Pair</h1>
            </div>
            <div id="content">
                <form method="post" action="/decrypt"">
                  <textarea name="text" rows="20" cols="70">Enter text to be decrypted here</textarea>
                  <label for="key_id">Key ID:</label>
                  <input type="text" name="key_id" value="MyKey" /><br />
                  <input type="submit" />
                </form>
            </div>
                <div id="container">
                <div class="title">
                <h1>Decrypted text</h1>
                </div>
                    <h3>{{ msg }}</h3>
            </div>

        </div>
        </div>

{% endblock %}