{% extends "base.html" %}
{% block content %}

        <div id="container">

            <div class="title">
                <h1>Encrypt text with password</h1>
            </div>
            <div id="content">
                <form method="post" action="/encrypt_with_key"">
                  <textarea name="text" rows="20" cols="70">Enter text to be encrypted here</textarea>
                  <label for="pass">Password</label>
                  <input type="text" name="pass" value="MyPassword" /><br />
                  <input type="submit" />
                </form>
            </div>
                <div id="container">
                <div class="title">
                <h1>Encrypted text</h1>
                </div>
                    <h3>{{ msg }}</h3>
            </div>

        </div>
        </div>

{% endblock %}